{{!< default}}

<main id="main-content" class="gh-main wc-main">
    {{#author}}
        {{> "components/author-header"}}
    {{/author}}
    {{> "components/list" layout="simple" showExcerpt=true showPublishedAt=true hasPagination=true}}
</main>