{{!< default}}

<main id="main-content" class="gh-main wc-main wc-error-page">
    <div class="wc-error-zone">
        <div class="wc-error-content gh-outer">
            <div class="gh-inner">
                <h1 class="wc-error-code">{{statusCode}}</h1>
                <p class="wc-error-message">{{message}}</p>
                <a href="{{@site.url}}" class="wc-error-link">Return to Homepage</a>
            </div>
        </div>
    </div>
</main>
