{{!< default}}

<main class="gh-main wc-main">
    <section class="wc-archive-header gh-outer">
        <div class="gh-inner">
            <h1 class="wc-archive-title">All Episodes</h1>
        </div>
    </section>
    {{> "components/list" layout="simple" count="all" showExcerpt=true showPublishedAt=true hasPagination=true}}
    {{> "components/cta"}}
</main>
