{{!< default}}

<main id="main-content" class="gh-main wc-main">
    {{#tag}}
        {{> "components/tag-header"}}
    {{/tag}}

    {{!-- Section Header --}}
    {{#tag}}
    <section class="wc-episodes-header gh-outer">
        <div class="gh-inner">
            <h2 class="wc-section-heading">{{name}}{{#if ../pagination.total}} <span class="wc-episode-count">({{../pagination.total}} available)</span>{{/if}}</h2>
        </div>
    </section>
    {{/tag}}

    {{> "components/list" layout="simple" showExcerpt=true showPublishedAt=true hasPagination=true}}

    {{> "components/pagination"}}

    {{> "components/cta"}}
</main>
