{{!< default}}

{{#post}}
<main id="main-content" class="gh-main wc-main">
    {{!-- Page header with title (respects Ghost page builder setting) --}}
    {{#match @page.show_title_and_feature_image}}
    <header class="wc-page-header gh-outer">
        <div class="gh-inner">
            {{#if feature_image}}
                <figure class="wc-page-feature">
                    <img src="{{img_url feature_image size="l"}}" alt="{{title}}">
                </figure>
            {{/if}}
            <h1 class="wc-page-title">{{title}}</h1>
        </div>
    </header>
    {{/match}}

    {{!-- Page content with cream background --}}
    <section class="wc-page-content gh-outer">
        <div class="gh-inner">
            <article class="gh-article">
                <div class="gh-content">
                    {{content}}
                </div>
            </article>
        </div>
    </section>

    {{> "components/cta"}}
</main>
{{/post}}
