{{!< default}}

<main class="gh-main wc-main">
    {{#tag}}
        {{> "components/tag-header"}}
    {{/tag}}
    {{> "components/list" layout="simple" showExcerpt=true showPublishedAt=true hasPagination=true}}
    {{> "components/cta"}}
</main>
